<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content"></div>
<script type="text/javascript" src="/dist/vendor.bundle.js"></script>
<script type="text/javascript" src="/dist/API.js"></script>

<style type="text/css">
    .box {
        height: 300px;
        width: 500px;
        background: pink;
        display: flex;
        justify-content:center;
        align-items: center;
    }
</style>

<div class="box">
    <img src="http://pic2.itrip.com/p/20160126104950-167.png" alt="">
</div>
</body>
</html>